<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/blaze6950/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="blaze6950" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>